owner_npub = "npub1999example"
additional_relays = ["wss://nip42.trustroots.org"]
access_rule = {"nip05_domain": "trustroots.org"}


[proxy_group.hospex]
urls = ["https://www.trustroots.org",
  "https://hitchwiki.org",
  "https://nomadwiki.org",
  "https://wiki.trustroots.org",
]

[proxy_group.media]
urls = ["wireguard_jellyfin", "wireguard_plex"]
additional_access_rule = ["nostr_follow"]
